:root {
    --image-size: 200px
}

body {
    margin-left: 20%;
    background-color: black;
    color: white;
}

#welcome {
    font-size: large;
    font-weight: bold;
}

#calendar {
    background-color: darkred;
    display: flex;
    flex-wrap: wrap;
    width: calc(6 * var(--image-size));
}

.doorItem {
    width: var(--image-size);
    height: var(--image-size);
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/christmastree.jpg) space;
}

.doorItem img {
    width: 100%;
}

/* Centered text */
.doorItem p {
    color: white;
    position: relative;
    font-weight: bold;
    font-size: xx-large;
}

.doorItem p:hover {
    cursor: pointer;
}